@{
    ViewData["Title"] = "Выход из аккаунта";
}
<h1>Вы действительно хотите выйти из системы?</h1>
<form method="post">
    <a asp-controller="Account" asp-action="Logout" class="btn-outline-danger">Выйти</a>
</form>
