@{
    ViewData["Title"] = "GameShopMain";
}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://vkplay.ru/hotbox/content_files/Stories/2023/11/10/6c41c8fe999c49fca6b834ed7ab11967.jpg" alt="Grand Theft Auto V">
            <div class="carousel-caption d-none d-md-block">
                <h5>Grand Theft Auto V</h5>
                <p>GTA V - Это открытый мир, экшен-приключенческая игра, в которой игрок управляет тремя персонажами: Майклом, Франклином и Тревором. Они работают вместе, 
                    чтобы выполнить различные миссии и задания, связанные с криминальным миром Лос-Сантоса (фиктивный город, основанный на Лос-Анджелесе).</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://videos-rockstargames-com.akamaized.net/v4/9krr33s1/art/en-us.jpg" alt="Red Dead Redemption 2">
            <div class="carousel-caption d-none d-md-block">
                <h5>Red Dead Redemption 2</h5>
                <p>Действие игры происходит на территории нескольких вымышленных штатов США на рубеже XIX–XX веков. Сюжет построен вокруг приключений банды Датча Ван дер Линде.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://i.pinimg.com/originals/a3/b5/c8/a3b5c8e30f3f6fd789891c7f70546102.jpg" alt="Metro Exodus">
            <div class="carousel-caption d-none d-md-block">
                <h5>Metro Exodus</h5>
                <p>Игра в жанре шутер от первого лица с элементами survival horror и стелс-экшен от украинского разработчика 4A Games и издателя Deep Silver.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
